---
layout: default
rbar: 
    - video
    - fb
    - tw
img: header/pirator.png
youtube:
  id: vRcx7L0itTg 
  #playlist: PLKqQxo2sZ8NfKKow6zTMyVZF7jfzpIMw9 
  title: "Video"
  button:
    url: https://www.youtube.com/channel/UC6zpUdw-MTT1WUBDo4K-nHA 
    title: "Další videa"
---

{% include homepage/banner.html 
   link='/lide/'
   title='Pirát pražským primátorem'
   default='header/pirator.png'
   mobile='header/pirator-mobile.png'
   breakpoint=640
%}

{% include homepage/news-with-rbar.html %}
